*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: rgb(79, 143, 239); */
    margin-bottom: 50px
}
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
}
.project img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 8px 20px  rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}
.project img:hover {
    transform: scale(1.05);
}
@media(max-width: 768) {
    .projects {
        grid-template-columns: repeat(2, fr);
    }
}
@media(max-width: 480px){
    .projects {
        grid-template-columns: 1fr;
    }
}
/* footer{
    margin-top: 450px;
} */