*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
header{
    background-color: #2cb3fb;
    color: white;
    padding: 20px 0;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
main{
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;;
}
footer{
    text-align: center;
    background-color: #0077b6;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
/* this makes the nav stack vertically on smaller screens */
@media (max-width: 768px){
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
}
.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.image-gallery img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.05);
}
